@model CourseListViewModel
<div class="row">
    <div class="col-md-8 d-flex align-items-center">
        <h1>@ViewBag.Title</h1>
        <div style="width:20px"></div>
        <a asp-controller="Courses" asp-action="Create" class="btn btn-outline-primary btn-sm" type="button"><i class="fas fa-plus-square"></i> Crea nuovo</a>
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <form asp-controller="Courses" asp-action="Index" method="get">
            <div class="input-group">
                <input class="form-control" type="text" name="search" placeholder="Cerca..."
                    value="@Model.Input.Search">
                <div class="input-group-append">
                    <button class="input-group-text"><i class="fas fa-dog"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <order-link order-by="Title" input="@Model.Input">Title</order-link>
    </div>
    <div class=" col-md-2">
        <order-link order-by="Rating" input="@Model.Input">Valutazione</order-link>
    </div>
    <div class="col-md-2">
        <order-link order-by="CurrentPrice" input="@Model.Input">Prezzo</order-link>
    </div>
    <div class="col-md-2"></div>
</div>
@foreach (CourseViewModel course in Model.Courses.Results)
{
    <!--Usiamo la partial view che si trova in View Courses\_CourseLine\cshtml per evitare di scrivere lo stessi codice un triliardo di volte -->
    <partial name="Courses/_CourseLine" model="@course"></partial>
}
<!--Da qui va  al controller Customizations/ViewComponents/PaginationBarViewComponents.cs--->
<!--Qui gli passiamo il CourseListViewModel, ma dato che nel controller c'è IPaginationInfo
Non fa più vedere 3000 propietà ma solo quelle implementate, o qualcosa del genere--->
<vc:pagination-bar model="@Model"></vc:pagination-bar>