@model CourseListViewModel
<div class="row">
    <div class="col-md-8">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <form asp-controller="Courses" asp-action="Index" method="get">
            <div class="input-group">
                <input class="form-control" type="text" name="search" placeholder="Cerca..."
                    value="@Model.Input.Search">
                <div class="input-group-append">
                    <button class="input-group-text"><i class="fas fa-dog"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <order-link order-by="Title" input="@Model.Input">Title</order-link>
    </div>
    <div class=" col-md-2">
          <order-link order-by="Rating" input="@Model.Input">Valutazione</order-link>
    </div>
    <div class="col-md-2">
          <order-link order-by="CurrentPrice" input="@Model.Input">Prezzo</order-link>
    </div>
    <div class="col-md-2"></div>
</div>
@foreach (CourseViewModel course in Model.Courses.Results)
{
    <hr>
    <div class="row course">
        <div class="col-md-1">
            <img class="img-fluid" src="@course.ImagePath" height="60" alt="Img corso 1">
        </div>
        <div class="col-md-5">
            <h2>@course.Title</h2>
            <author>di @course.Author</author>
        </div>
        <div class="col-md-2 rating" title="@course.Rating">
           <rating value="@course.Rating"> </rating>
        </div>
        <div class="col-md-2 price">
            <price full-price="@course.FullPrice" current-price="@course.CurrentPrice"></price>
        </div>
        <div class="col-md-2">
            <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@course.Id"> Dettaglio</a>
        </div>
    </div>
    <hr>
}

@{
    int totPages = (int)Math.Ceiling(Model.Courses.TotalCount / (decimal)Model.Input.Limit);
    <!--ottengo quante pagine far visualizzare-->
    int currentPage = Model.Input.Page;
}

<nav aria-label="Paginazione">
    <ul class="pagination d-flex justify-content-center" >
        <!---Se la pagina corrente è maggiore a 1, allora ci sarà il btn per la pag prec. il math max è per assicurasi che nessuno metta nella url query meno1 o meno3--->
        @if (Math.Max(currentPage, 1) > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-route-page="@(currentPage-1)">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </li>
        }
        <!-- dalla pag corrente -4, fino alla pag corrente +4 , fammi vedere dei buttons con in numerini-->
        @for (int p = Math.Max(1, currentPage - 4); p <= Math.Min(totPages, currentPage + 4); p++)
        {
            if (p == currentPage)
            {
                <li class="page-item active" aria-current="page">
                    <a class="page-link" asp-route-page="@p"
                    asp-route-search="@Model.Input.Search"
                    asp-route-orderby="@Model.Input.OrderBy"
                    asp-route-ascending="@Model.Input.Ascending"
                    > @p <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-route-page="@p"
                    asp-route-search="@Model.Input.Search"
                    asp-route-orderby="@Model.Input.OrderBy"
                    asp-route-ascending="@Model.Input.Ascending"
                    >@p</a>
                </li>
            }
        }
        <!---Se la pagina corrente è minore al max di pag, allora ci sarà il btn per la prx pag--->
        @if (currentPage<totPages) 
        {
        <li class="page-item">
            <a class="page-link" asp-route-page="@(currentPage+1)"
                    asp-route-search="@Model.Input.Search"
                    asp-route-orderby="@Model.Input.OrderBy"
                    asp-route-ascending="@Model.Input.Ascending">
                <i class="fas fa-arrow-right"></i>
            </a>
        </li>
        }
    </ul>
</nav>